/* 
    Document   : style
    Created on : 2011-aug-18, 13:48:36
    Author     : eitpso
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/


#photoView {
    /* The photo view overlaps the expose view (including the web page,
       diagram and map) and if we don't explicitly set the background to
       transparent the photo view will eclipse everything else. */
    -fx-background-color: rgba(0,0,0,0);
}

#photoBorder {
    -fx-stroke-width: 9;
    -fx-stroke: #f5f5f5;
    -fx-effect: dropshadow( gaussian , #000000 , 10 , 0.5 , 0, 0 );
}

#photoImage {
    -fx-translate-y: -9
}

#photoCell {
    -fx-background-color: rgba(0,0,0,0);
}

#exposeeComponent {
    -fx-effect: null;
    /*    -fx-effect: innershadow( gaussian , #000000 , 10 ,0.9, 0.0 , 0,0 );*/
    /*    -fx-effect: dropshadow( gaussian , #666666 , 10 ,0.3, 30 , 30 );*/
    /*    -fx-border-radius: 2;
        -fx-border-color: #66666699;
        -fx-border-width: 10;
        -fx-border-style: solid;*/
}

/* List View items uses a GridPane container, which is customized below */
#list-cell-container {
    -fx-background-color: linear (0%,0%) to (0%,100%) stops (0.0,white) (1.0,#696969), linear (0%,0%) to (0%,100%) stops (0.0,#EEEEEE) (1.0,#BBBBBB);
    -fx-background-insets: 0, 1;
    -fx-background-radius: 3,3
}

#race-list-name {
/*    -fx-font-family: arial;*/
/*    -fx-font-weight: bold;*/
    -fx-font-size: 16px;
    -fx-translate-x: 9px;
    -fx-translate-y: 5px;
}

#race-list-distance {
/*    -fx-font-family: verdana;*/
    -fx-font-size: 11px;
    -fx-translate-x: 4px;
    -fx-translate-y: 8px;
    -fx-alignment: center-left
}


#race-list-cell {
    -fx-background-color: rgba(0,0,0,0);
    -fx-background-insets: 5,0,0,0;
}


/*.list-view {
    -fx-skin: "com.sun.javafx.scene.control.skin.ListViewSkin";
    -fx-background-color: -fx-box-border, -fx-control-inner-background;
    -fx-background-insets: 0, 1;*/



/* There is some oddness if padding is in em values rather than pixels,
   in particular, the left border of the control doesn't show. */
/*    -fx-padding: 1em; */
/*}*/

.list-view:focused {
    -fx-background-color: -fx-focus-color,-fx-box-border,-fx-control-inner-background;
    -fx-background-insets: -1.4, 0, 1;
    -fx-background-radius: 1.4, 0, 0;

    /* There is some oddness if padding is in em values rather than pixels,
       in particular, the left border of the control doesn't show. */
    /*    -fx-padding:  0.083333em; */
}

.list-view .scroll-bar:vertical{
    -fx-background-insets: 0, 0 0 0 1;
    -fx-padding: -0.083333em -0.083333em -0.083333em 0.0em; /* -1 -1 -1 0 */
}

.list-view .scroll-bar:horizontal{
    -fx-background-insets: 0, 1 0 0 0;
    -fx-padding: 0.0em 0.0em -0.083333em -0.083333em; /* 0 0 -1 -1 */
}

.list-view:disabled {
    -fx-opacity: -fx-disabled-opacity;
}

.list-view .corner {
    -fx-background-color: -fx-box-border, -fx-base;
    -fx-background-insets: 0, 1 0 0 1;
}

.list-cell {
    -fx-skin: "com.sun.javafx.scene.control.skin.ListCellSkin";
    -fx-background-color: #FFFFFF;
    /*    -fx-insets: 1em 0.2em 0.1em 0.2em;  3 */
    -fx-background-insets: 1em, 1em,1em,1em;
    -fx-text-fill: -fx-text-inner-color;
    -fx-cell-size: 2.0em; /* 24 */
    -fx-opacity: 1;
    -fx-stroke: green;
    -fx-stroke-width: 5;
    /*    -fx-effect: innershadow( gaussian , #333333 , 10 , 0.2 , 0,0 )*/
}

.list-cell:focused {
    -fx-background-color: -fx-focus-color, -fx-control-inner-background;
    -fx-background-insets: 0, 1.4;
}


/*.list-cell:odd {
    -fx-background-color: derive(-fx-control-inner-background,-5%);
}*/

.list-cell:focused:odd {
    -fx-background-color: -fx-focus-color, derive(-fx-control-inner-background,-5%);
    -fx-background-insets: 0, 1.4;
}

.list-view:focused .list-view:focused  {
    -fx-background: -fx-accent;
    -fx-background-color: -fx-selection-bar;
    -fx-text-fill: #FF0000;
}

.list-cell:filled:selected:focused {
    -fx-text-fill: black;
    -fx-effect: dropshadow( gaussian , #999999 , 10 , 0.38 , 0, 0 );
}

.list-cell:filled:selected:focused:disabled, .list-cell:filled:selected:disabled {
    -fx-opacity: -fx-disabled-opacity;
}

.list-cell:filled:hover {
    -fx-background-color: #cce3f4;
    -fx-text-fill: -fx-text-inner-color;
}

.list-view:horizontal .list-cell:filled:selected {
    -fx-background-color: linear (0%,0%) to (100%,0%) stops (0%,derive(-fx-accent,-7%)) (100%,derive(-fx-accent,-25%));
}

